<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="resources/oracle_db.conf">
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	</properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="dept.model.DeptDTO" alias="deptDto" />
		<typeAlias type="locs.model.LocsDTO" alias="locsDto" />
		<typeAlias type="emps.model.EmpsDTO" alias="empsDto" />
		<typeAlias type="emps.model.EmpsDetailDTO" alias="empsDetailDto" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="puser1"/>
				<property name="password" value="puser1"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="resources/mapper/departments.xml"/>
		<mapper resource="resources/mapper/locations.xml"/>
		<mapper resource="resources/mapper/employees.xml"/>
		<mapper resource="resources/mapper/login.xml"/>
	</mappers>
</configuration>
